.App {
  text-align: center;
  width: 100vw;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS Style for Tables */
.table-wrapper {
  width: 95vw;
  margin: 0 auto;
}

.table-container {
  max-height: 480px;
  border: 0.5px solid rgb(207, 199, 199);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  margin-bottom: 3rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: center;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.table thead {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table thead th {
  background-color: gray;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgb(234, 230, 230);
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
